/**@import 'bootstrap/dist/css/bootstrap.min.css';

@import "bootstrap/scss/functions";

@import "bootstrap/scss/list-group";
@import "bootstrap/scss/close";
@import "bootstrap/scss/type";
@import "bootstrap/scss/images";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/tables";
@import "bootstrap/scss/forms";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/transitions";
@import "bootstrap/scss/dropdown";
@import "bootstrap/scss/modal"; 
@import "bootstrap/scss/tooltip";
@import "bootstrap/scss/popover";
@import "bootstrap/scss/carousel";
@import "bootstrap/scss/spinners";
@import "bootstrap/scss/offcanvas"; 
@import "bootstrap/scss/placeholders";
@import "bootstrap/scss/utilities/api";

**/

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.box:nth-child(3n + 1) {
  grid-column: 1;
}
.box:nth-child(3n + 2) {
  grid-column: 2;
}
.box:nth-child(3n + 3) {
  grid-column: 3;
}

#navSection, #bottomNavSection{
  background-color: #414d6e;
  max-width: 100%;
  max-height: fit-content;
  color: #f6ba28;
  padding: 15px;
}

h1{
  padding-top: 15px;
  color: #f6ba28 ;
}

h2, h4{
  text-align: center;
  color: #3b59ad;
}

#dropBttn{
  background-color: #fff;
  color: #414d6e;
}

#dropdown-menu{
  color: #414d6e;
  padding: 3px;
  
}

.nav-link{
  padding: 3px;
}


#sloganSection{
  background-color: #ffffff;
  color: #3b59ad;
  max-width: 100%;
  padding: 10px;
  text-align: center;
}

#previousEventsSection{
  color: #414d6e;
  background-color: #3b59ad;
  color: #ffffff;
  padding: 10px;
}

#carouselRow{
  padding: 10px;
}

.carousel-inner{
  align-items: center;
  max-width: 75%;
  max-height: 75%;
  image-resolution: 100px;
}

#upcomingEventsSection{
  background-color: #ffffff;
  color: #3b59ad;
  padding: 10px;
 
}

#cardColumn{
  padding: 5px;
  margin: 10px;
}

.card-body, .card-header{
  color: #414d6e;
}

.list-group-item{
  align-items: flex-start;
}

#socialsBorder{
  border-left: #f6ba28;
  border-width:initial;
}

#emailLink, #backToTopBottom{
  color: #fff;
}