@import '~bootstrap/scss/bootstrap';

#navSection, #bottomNavSection{
    background-color: #414d6e;
    max-width: 100%;
    max-height: fit-content;
    color: #f6ba28;
    padding: 15px;
  }
  
  h1{
    padding-top: 15px;
    color: #f6ba28 ;
  }
  
  h2, h4{
    text-align: center;
    color: #3b59ad;
  }
  
  #dropBttn{
    background-color: #fff;
    color: #414d6e;
  }
  
  #dropdown-menu{
    color: #414d6e;
    padding: 3px;
    
  }
  
  .nav-link{
    padding: 3px;
  }
  
  
  #sloganSection{
    background-color: #ffffff;
    color: #3b59ad;
    max-width: 100%;
    padding: 10px;
    text-align: center;
  }
  
  #previousEventsSection{
    color: #414d6e;
    background-color: #3b59ad;
    color: #ffffff;
    padding: 10px;
  }
  
  #carouselRow{
    padding: 10px;
  }
  
  .carousel-inner{
    align-items: center;
    max-width: 75%;
    max-height: 75%;
    image-resolution: 100px;
  }
  
  #upcomingEventsSection{
    background-color: #ffffff;
    color: #3b59ad;
    padding: 10px;
   
  }
  
  #cardColumn{
    padding: 5px;
    margin: 10px;
  }
  
  .card-body, .card-header{
    color: #414d6e;
  }
  
  .list-group-item{
    align-items: flex-start;
  }
  
  #socialsBorder{
    border-left: #f6ba28;
    border-width:initial;
  }
  
  #emailLink, #backToTopBottom{
    color: #fff;
  }