@import '../../node_modules/bootstrap/scss/bootstrap.scss';

#navSection, #previousEventsSection, #bottomNavSection{
  background-color: #414d6e;
  color: #f6ba28;
  padding: 15px;
}

#navSection, #sloganSection, #previousEventsSection, #upcomingEventsSection, #bottomNavSection{
    max-width: 100%;
    max-height: fit-content;
  }
  
  #imgLogo{
    max-width: 200px;
    max-height: 200px;
    margin: 5px;
  }

  #sloganSection, #previousEventsSection, #upcomingEventsSection{
    padding: 10px;
  }

  .h1{
    padding-top: 15px;
    color: #f6ba28 ;
  }
  
  #dropBttn{
    background-color: #fff;
    color: #414d6e;
  }
  
  #dropdown-menu{
    color: #414d6e;
    padding: 3px;
  }
  
  .nav-link{
    padding: 3px;
  }
  
  #sloganSection, #upcomingEventsSection{
    background-color: #ffffff;
    color: #3b59ad;
  }
  
  
  #carouselRow{
    padding: 1px;
    align-content: center;
  }
  
  .carousel-inner{
    align-items: center;
    
    image-resolution: 100px;
    margin: 0, auto;
  }
  .carousel-inner > img{
    display: block;
    margin: 0 auto;
    max-width: 100%;
  }
  
  #cardColumn{
    padding: 5px;
    margin: 10px;
  }
  
  .card-body, .card-header{
    color: #3b59ad;
  }
  
  .list-group-item{
    align-items: flex-start;
  }

  #emailLink, #backToTopBottom #backToTopPrev{
    color: #fff;
  }

  #socials{
    border-left: #f6ba28; 
    border-radius: 10px;
  }

  #fbSocial, #igSocial{
    max-width: 75px;
    max-height: 75px;
  }

.h2, .h3, #backToTop, #BbackToTopBottom, #backToTopPrev{
  padding: 5px;
}

.carousel-control-prev > button{
  justify-content: flex-start;
}

.carousel-control-next > button{
  justify-content: flex-end;
}